NAV_K84.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:meta="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
        xmlns:tns="https://soap.api.nav.gov.hu/definitions/model/2.0/K84/2.0"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        targetNamespace="https://soap.api.nav.gov.hu/definitions/model/2.0/K84/2.0">
   <import namespace="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
           schemaLocation="form_xsd_metaschema.xsd"/>
   <element name="Doc_K84" type="tns:Doc_K84_Type" meta:metaType="DocMetaType">
      <annotation>
         <documentation>A nyugdíj-előtakarékossági számla vezetőjének adatszolgáltatása</documentation>
      </annotation>
   </element>
   <simpleType name="Enum_K84A_0A0001D002A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="H"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_K84M_0A0001D001A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="H"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_K84M_0A0001D002A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="T"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_K84M_0BXXXXC0003AA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="1"/>
         <enumeration value="2"/>
         <enumeration value="3"/>
         <enumeration value="4"/>
      </restriction>
   </simpleType>
   <complexType name="Doc_K84_Type">
      <annotation>
         <documentation>A teljes bizonylat szerkezetet leíró típus</documentation>
      </annotation>
      <sequence>
         <element name="Form_K84A"
                  type="tns:Form_K84A_Type"
                  minOccurs="1"
                  maxOccurs="1"
                  meta:metaType="FormMetaType">
            <annotation>
               <documentation>K84A részbizonylat</documentation>
            </annotation>
         </element>
         <element name="Form_K84M"
                  type="tns:Form_K84M_Type"
                  minOccurs="1"
                  maxOccurs="unbounded"
                  meta:metaType="FormMetaType">
            <annotation>
               <documentation>K84M részbizonylat</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Form_K84A_Type">
      <annotation>
         <documentation>A teljes nyomtatvány K84A részbiztonylatának szerkezetét leíró típus.</documentation>
      </annotation>
      <sequence>
         <element name="Block_120001"
                  type="tns:Block_K84A_120001_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Azonosító adatok</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Block_K84A_120001_Type">
      <annotation>
         <documentation>Azonosító adatok</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120002"
                  type="tns:FieldGroup_K84A_120002_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Adatszolgáltató adatai</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120003"
                  type="tns:FieldGroup_K84A_120003_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Ügyintéző adatai</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120004"
                  type="tns:FieldGroup_K84A_120004_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Adatszolgáltatás jellemzői</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_K84A_120002_Type">
      <annotation>
         <documentation>Adatszolgáltató adatai</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001C001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adószám (adoszam)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Jogelőd adószáma (jogelod_adoszam)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C004A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Név (nev)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_K84A_120003_Type">
      <annotation>
         <documentation>Ügyintéző adatai</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001C005A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Név (ugyintezo_neve)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C006A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Telefonszám (ugyintezo_telefonszama)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="40"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_K84A_120004_Type">
      <annotation>
         <documentation>Adatszolgáltatás jellemzői</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001D001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Éve (adatszolg_éve)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="4"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001D003A"
                  minOccurs="0"
                  type="xs:boolean"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Soron kívüli teljesítés jelölése (adatszolg_soron_kivul)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001D002A"
                  minOccurs="0"
                  type="tns:Enum_K84A_0A0001D002A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Jellege (adatszolg_jellege)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001C002A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Hibásnak minősített adatszolgáltatás vonalkódja (vonalkod)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001D004A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az adatszolgáltatásban érintett magánszemélyek száma (maganszemelyek_szama)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="7"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <simpleType name="Enum_K84M_egyseges_titulus_1">
      <annotation>
         <documentation>Enum értékek egyseges_titulus mátrix 1. oszlopból.</documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="Dr."/>
         <enumeration value="Dr.Dr."/>
         <enumeration value="Id."/>
         <enumeration value="Id.Dr."/>
         <enumeration value="Ifj."/>
         <enumeration value="Ifj.Dr."/>
         <enumeration value="Özv."/>
         <enumeration value="Özv.Dr."/>
         <enumeration value="Prof."/>
         <enumeration value="Dr.Pr."/>
         <enumeration value="Pr.Dr."/>
         <enumeration value="Dr.Habil."/>
      </restriction>
   </simpleType>
   <complexType name="Form_K84M_Type">
      <annotation>
         <documentation>A teljes nyomtatvány K84M részbiztonylatának szerkezetét leíró típus.</documentation>
      </annotation>
      <sequence>
         <element name="Block_120001"
                  type="tns:Block_K84M_120001_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Magánszemélyenkénti összesítő</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Block_K84M_120001_Type">
      <annotation>
         <documentation>Magánszemélyenkénti összesítő</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120002"
                  type="tns:FieldGroup_K84M_120002_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Magánszemély adatai</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120004"
                  type="tns:FieldGroup_K84M_120004_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Adatszolgáltatás jellege</documentation>
            </annotation>
         </element>
         <element name="Chain_120008"
                  type="tns:Chain_K84M_120008_Type"
                  minOccurs="0"
                  meta:metaType="ChainMetaType">
            <annotation>
               <documentation>NYESZ-R számlával összefüggő adatok</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Chain_K84M_120008_Type">
      <annotation>
         <documentation>NYESZ-R számlával összefüggő adatok</documentation>
      </annotation>
      <sequence>
         <element name="Chain_elem" minOccurs="0" maxOccurs="99">
            <annotation>
               <documentation>Lánc ismétlődő elemei</documentation>
            </annotation>
            <complexType>
               <sequence>
                  <element name="FieldGroup_120007"
                           type="tns:FieldGroup_K84M_120007_Type"
                           minOccurs="1"
                           meta:metaType="FieldGroupMetaType">
                     <annotation>
                        <documentation>NYESZ-R számlával összefüggő adatok</documentation>
                     </annotation>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <complexType name="FieldGroup_K84M_120002_Type">
      <annotation>
         <documentation>Magánszemély adatai</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001C003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adóazonosító jele (adoazonosito_jel)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C004A"
                  minOccurs="0"
                  type="tns:Enum_K84M_egyseges_titulus_1"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Titulusa (titulus)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001C005A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Családi neve (vnev)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="40"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C006A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Utóneve (knev)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="40"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>(adatszolgaltato_adoszam)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C002A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>(adatszolgaltato_nev)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_K84M_120004_Type">
      <annotation>
         <documentation>Adatszolgáltatás jellege</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001D001A"
                  minOccurs="0"
                  type="tns:Enum_K84M_0A0001D001A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Jelölje "H" betűvel, ha az adatszolgáltatása adózói javításnak (helyesbítésnek) minősül! (helyesbites)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001D002A"
                  minOccurs="0"
                  type="tns:Enum_K84M_0A0001D002A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Jelölje "T" betűvel, ha a magánszeméllyel kapcsolatosan adatszolgáltatási kötelezettség nem terhelte! (torles)</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_K84M_120007_Type">
      <annotation>
         <documentation>NYESZ-R számlával összefüggő adatok</documentation>
      </annotation>
      <all>
         <element name="Field_0BXXXXC0001AA"
                  minOccurs="0"
                  type="xs:date"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Nyugdíj-előtakarékossági szerződésre adott NYESZ-R nyilatkozat kelte ([01]A1)</documentation>
            </annotation>
         </element>
         <element name="Field_0BXXXXC0002BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>A tag egyéni számláján saját befizetésként jóváírt összeg (forintban) ([01]B2)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0BXXXXC0003AA"
                  minOccurs="0"
                  type="tns:Enum_K84M_0BXXXXC0003AA"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>NYESZ-R számláról teljesített kifizetés indoka ([01]A3)</documentation>
            </annotation>
         </element>
         <element name="Field_0BXXXXC0004BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Nem nyugdíjszolgáltatás címén a NYESZ-R számláról teljesített kifizetés esetén az adóköteles összeg (forintban) ([01]B4)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0BXXXXC0005BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az adózott követelésállomány összege (forintban) ([01]B5)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0BXXXXC0006BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>A magánszemély által teljesített befizetések összege (forintban) ([01]B6)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0BXXXXC0007BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az osztalék jóváírások összege (forintban) ([01]B7)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0BXXXXC0008BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>A nyugdíj-előtakarékossági nyilatkozat alapján átutalt jóváírások összege (forintban) ([01]B8)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0BXXXXC0009AA"
                  minOccurs="0"
                  type="xs:date"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>A megszüntetett NYESZ-R nyilatkozat kelte ([01]A9)</documentation>
            </annotation>
         </element>
         <element name="Field_0BXXXXC0010AA"
                  minOccurs="0"
                  type="xs:date"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>A megszüntetés időpontja ([01]A10)</documentation>
            </annotation>
         </element>
         <element name="Field_0BXXXXC0011BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>A megszüntetésig az adóévre, a rendelkezési jogosultság alapjául szolgáló összeg (forintban) ([01]B11)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0BXXXXC0012AA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Számlaszám, amelyre az adóvisszatérítés utalható (Pénzintézet_azonosító)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="8"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0BXXXXC0012BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>(Alszámlaszám)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="16"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
</schema>
